<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
  <handlers>
   <add name="MyHandler"
      path="*"
      verb="*"
      modules="FastCgiModule"
      scriptProcessor="c:\python38new\python.exe|c:\python38new\lib\site-packages\wfastcgi.py"
     
      resourceType="Unspecified"
      requireAccess="Script" />
  </handlers>
</system.webServer>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="index.app" />
  <add key="PYTHONPATH" value="c:\inetpub\wwwroot\Arbitrage" />
</appSettings>
</configuration>